[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/protocol-v3.1-upgrade"]
	path = lib/protocol-v3.1-upgrade
	url = https://github.com/bgd-labs/protocol-v3.1-upgrade
