[profile.default]
src = 'src'
test = 'tests'
script = 'scripts'
out = 'out'
solc = '0.8.22'
optimizer = true
optimizer_runs = 200
libs = ['lib']
remappings = [
]
fs_permissions = [{ access = "write", path = "./reports" }]
ffi = true
evm_version = 'shanghai'

[profile.zksync]
src = 'zksync'
test = 'zksync'
script = 'scripts'
libs = ['lib']
solc = '0.8.22'
fs_permissions = [{ access = "write", path = "./reports" }]
ffi = true
evm_version = 'shanghai'

[profile.zksync.zksync]
compile = true
fallback_oz = true
optimizer_mode = 'z'
zksolc = '1.5.7'

[profile.linea]
evm_version = 'london'

[profile.sonic]
evm_version = 'cancun'

[profile.celo]
evm_version = 'paris'

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
optimism = "${RPC_OPTIMISM}"
avalanche = "${RPC_AVALANCHE}"
polygon = "${RPC_POLYGON}"
arbitrum = "${RPC_ARBITRUM}"
fantom = "${RPC_FANTOM}"
harmony = "${RPC_HARMONY}"
metis = "${RPC_METIS}"
base = "${RPC_BASE}"
zkevm = "${RPC_ZKEVM}"
gnosis = "${RPC_GNOSIS}"
bnb = "${RPC_BNB}"
scroll = "${RPC_SCROLL}"
zksync = "${RPC_ZKSYNC}"
linea = "${RPC_LINEA}"
sonic = "${RPC_SONIC}"
celo = "${RPC_CELO}"

[etherscan]
mainnet = { key="${ETHERSCAN_API_KEY_MAINNET}", chainId=1 }
optimism = { key="${ETHERSCAN_API_KEY_OPTIMISM}", chainId=10 }
avalanche = { key="${ETHERSCAN_API_KEY_AVALANCHE}", chainId=43114, url='https://api.snowscan.xyz/api' }
polygon = { key="${ETHERSCAN_API_KEY_POLYGON}", chainId=137 }
arbitrum = { key="${ETHERSCAN_API_KEY_ARBITRUM}", chainId=42161 }
fantom = { key="${ETHERSCAN_API_KEY_FANTOM}", chainId=250 }
metis = { key="any", chainId=1088, url='https://andromeda-explorer.metis.io/' }
base = { key="${ETHERSCAN_API_KEY_BASE}", chainId=8453 }
zkevm = { key="${ETHERSCAN_API_KEY_ZKEVM}", chainId=1101 }
gnosis = { key="${ETHERSCAN_API_KEY_GNOSIS}", chainId=100 }
bnb = { key="${ETHERSCAN_API_KEY_BNB}", chainId=56, url='https://api.bscscan.com/api' }
scroll = { key="${ETHERSCAN_API_KEY_SCROLL}", chainId= 534352 }
zksync = { key="${ETHERSCAN_API_KEY_ZKSYNC}", chainId= 324 }
linea = { key="${ETHERSCAN_API_KEY_LINEA}", chain = 59144 }
sonic = { key="${ETHERSCAN_API_KEY_SONIC}", chain = 146 }
celo = { key="${ETHERSCAN_API_KEY_CELO}", chain = 42220 }

# See more config options https://github.com/gakonst/foundry/tree/master/config
